
<div class="prefooter" id="prefooter">

  <h6></h6>
</div>

<div class="footer" id="footer">

  <div class="footer_content">

    <div class="footer_column">

      <h1>Sports Picks</h1>

      <p><a target="_blank" rel="noopener noreferrer" href="https://pinetree.dev">Basketball</a></p>

      <p><a target="_blank" rel="noopener noreferrer" href="https://yamltobot.com">Football</a></p>

      <p><a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com">Hockey</a></p>

    </div>

    <div class="footer_column">

      <h1>Social</h1>

      <p><a target="_blank" rel="noopener noreferrer" href="https://liberapay.com/justinhschaaf/">Facebook</a></p>


      <p><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/justinhschaaf">Twitter</a></p>

      <p><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCNw2pX6yLUuq9J0dYmsn6mA">YouTube</a></p>

    </div>

    <div class="footer_column">

      <h1>Et Cetera</h1>

      <p><a target="_blank" rel="noopener noreferrer" href="https://github.com/justinhschaaf/justinschaaf.com">Disclaimers</a></p>

    </div>

  </div>

</div>
