.banner_home {
    background-image: url('/assets/images/home/pure-white-background-021aa40c.jpg');
    height: calc(100vh - 48pt);
}

h1 {
    span {
        font-family: 'Russo One', sans-serif;
        color: #d80000;
        font-style: italic;
        ;
    }
}
