<div class="project_container">

  <div class="card hoverable">

    <div class="card-start">


      <div class="project_img">
        <img src="/assets/images/home/lvplogo.png">
      </div>

    </div>

    <div class="card-content">

      <p></p>
      

    </div>

    <br>

    <div class="card-end">
      <a target="_blank" rel="noopener noreferrer" href="https://yamltobot.com"></a>
    </div>

  </div>

  <!--<div class="card">

    <h2>Pinetree Mail</h2>

    <div class="project_img">
      <img src="">
    </div>

    <p>
     
    </p>

    <br>
    
    <a target="_blank" rel="noopener noreferrer" href=""><h4>Emails sound fun!</h4></a>

  </div>-->

  <div class="card hoverable">

    <div class="card-start">

  
      <div class="project_img">
        <img src="assets/images/home/lvplogo.png">
      </div>

    </div>
    
    <div class="card-content">


    </div>

    <br>
    
    <div class="card-end">
      <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"></a>
    </div>

  </div>

</div>
